In [3]:
import pandas as pd

In [10]:
df = pd.read_csv("\data Analyst\python\job_data_analyst\data_jobs (1).csv")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\mhiig\AppData\Local\Temp\ipykernel_20892\1541265449.py:1: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv("\data Analyst\python\job_data_analyst\data_jobs (1).csv")

In [13]:
pd.DataFrame(df)
df.head(5)

        job_title_short  ...                                    job_type_skills
0  Senior Data Engineer  ...                                                NaN
1          Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2         Data Engineer  ...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3         Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4         Data Engineer  ...  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...

[5 rows x 17 columns]

In [14]:
df.job_title

0         Senior Clinical Data Engineer / Principal Clin...
1                                              Data Analyst
2         Data Engineer/Scientist/Analyst, Mid or Senior...
3         LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...
4                                    Data Engineer- Sr Jobs
                                ...
785736                                      DevOps Engineer
785737                                     CRM Data Analyst
785738                       Commercial Analyst - Start Now
785739    Principal Associate, Data Engineer (Remote-Eli...
785740                                   AWS System Analyst
Name: job_title, Length: 785741, dtype: object